* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000 !important;
    font-size: 14px;
}

/* 布局CSS */
.b-layout {
    width: 100%;
    height: 100vh;
}

.b-layout .el-container {
    height: 100vh;
}

.b-layout .el-aside {
    height: 100vh;
    background-color: #CE111A;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

.b-layout .el-header {
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

.b-layout .el-main {
    width: 100%;
    height: 100%;
}

/* 侧边栏CSS */
.aside-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
}

.aside-area::-webkit-scrollbar {
    display: none;
}

.aside-logo {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #CE111A;
    cursor: pointer;
}

.aside-title {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    height: 60px;
    color: #FFFFFF;
    background-color: #CE111A;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

.aside-menu {
    display: flex;
    flex: 1;
}

.aside-menu .el-menu {
    border: none;
    width: 280px;
}

/* 顶栏CSS */
.header-area {
    display: flex;
    height: 100%;
}

.header-breadcrumb {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}

.header-breadcrumb .el-breadcrumb__inner.is-link:hover {
    color: #F1D792;
}

.header-user {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.header-user-area:hover .header-user-icon,
.header-user-area:hover .header-user-item {
    color: #F1D792;
}

.header-user-icon {
    margin-right: 5px;
}

.header-user-item {
    color: #000000;
    font-size: 16px;
    font-weight: bolder;
}

/* 页面主体布局CSS */
.main-view-area {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .15);
}

/* 页面CSS */
.main-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 5vh;
    overflow: hidden;
}

.main-search {
    display: flex;
    flex: 2;
    align-items: center;
    padding: 1vh 3vh 0.5vh 3vh;
}

.main-search-form {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.main-search-form .el-form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5vh 0;
    width: 20%;
    font-weight: bold;
}

.el-form-item__label {
    width: 14vh;
}

.el-button--primary:hover {
    color: #F1D792;
}

.main-table {
    display: flex;
    flex: 15;
    justify-content: center;
    align-items: center;
    padding: 0.5vh 3vh 0.5vh 3vh;
}

.el-table {
    height: 68vh;
    max-height: 68vh;
}

.el-table::before {
    height: 0;
}

.el-table th {
    height: 6vh;
    font-size: 16px;
    font-weight: bolder;
    color: #000000;
    background-color: #EEF1F6 !important;
}

.el-table tr {
    height: 6vh;
    font-size: 14px;
    font-weight: normal;
    color: #606266;
    background-color: #FAFAFA !important;
}

.main-table-page {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0.5vh 3vh 0 3vh;
    margin-bottom: 3vh;
}
