* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000 !important;
    font-size: 14px;
}

.main-area {
    width: 100%;
    height: 100%;
}
